.analyze_transaction_list {
    display: flex;
    justify-content: left;
        outline: 5px, solid, black;
        top: 10px;
        left: 10px;
        bottom: 10px;
        width: 45%;
        overflow-y: scroll;
        max-height: 30rem;
    
    
}

.analyze-boxes, .filter, .transaction-detail-category-header {
    display: flex;
    justify-content: center;
}
#start_date, #end_date {
    margin: 5px;
}
.category-choices {
    display: flex;
   align-items: center;
}
.transaction-detail-category-totals {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: larger;
}