.transaction_header, .add-transaction-header, .user_transactions,.edit_transaction, .edit_transaction_fields {
    display: flex;
    justify-content: space-around;
}
.add_transaction_fields, .edit_transaction_fields {
    border: 1rem, solid, black;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

 
}
.transactionList-buttons{
    display: flex;
    justify-content: center;
}
.datagrid-table {
    display: flex;
    justify-content: center;
    
}
.datagrid_object {
    background-color: #fff;
}
.transaction_entry {
    border: solid black;
    margin: 2rem;
}

ul {
    list-style-type: none;
}
.delete-button{
    place-content: center;
}

.transaction_list {
    display: flex;
    justify-content: center;
        outline: 5px, solid, black;
        top: 10px;
        left: 10px;
        bottom: 10px;
        width: 75%;
        overflow-y: scroll;
        max-height: 30rem;
    
    
}

.transaction-form-control {
   margin-left: 1rem;
    margin-right: 1rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    
}

.add-transaction-container {
    border: solid #388e3c;
    margin-right: 8rem;
    margin-left: 8rem;
}