.transaction_header, .add_transaction, .user_transactions, .add_transaction_fields,.edit_transaction, .edit_transaction_fields {
    display: flex;
    justify-content: center;
}
.add_transaction_fields, .transaction_entry,.edit_transaction_fields {
    border: 1rem, solid, black;
    margin: 1rem
}

.transaction_list {
    display: flex;
    justify-content: center;
        outline: 5px, solid, black;
        top: 10px;
        left: 10px;
        bottom: 10px;
        width: 75%;
        overflow-y: scroll;
        max-height: 30rem;
    
    
}